@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Love+Ya+Like+A+Sister&display=swap');
/* import font for history list */
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js');
:root {
    --button-background: #FE8761;
    --title-color: #AF460F;
    --nav-bar-color: #FE8761;
    --text-bright: #fefae9;
    --footer-background: #FED39F;
}
* {
    margin: 0;
    font-family: 'Kanit', sans-serif;
  }
  
  body {
    text-align: center;
    font-size: 110%;
    background-color: #F6EEC9;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

nav {
    margin: 1em auto;
    width: 35%;
    justify-content: space-between;
    display: flex;
    align-content: center;
    font-size: 125%;
    min-width:fit-content;
  }
  
  nav a {
    flex-shrink: 1;
    color: var(--text-bright);
    background-color: var(--nav-bar-color);
    padding: 0.4em 0.8em;
    width: 25%;
    text-decoration: none;
    font-weight: bold;
    border: none;
}

input {
    padding: 1em;
    width: 70%;
    border: 2px solid grey;
    margin: 1em;
}

#title {
    font-family: 'Love Ya Like A Sister', serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3em;
}

#sub-title,
#title, #title-translate-history {
    color: var(--title-color)
}

#submit-btn {
    cursor: pointer;
    background-color: var(--button-background);
    width: 20%;
    min-width: fit-content;
    padding: 1em;
    color: var(--text-bright);
    font-weight: bold;
}

#img-logoNorm,
#img-logoHello {
    max-height: 200px;
}

#img-logoNorm::before,
#img-logoHello::before {
    display: block;
    content: attr(title);
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

#img-logoNorm:hover,
#img-logoHello:hover {
    cursor: grab;
}

#profile {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.profile-btns {
    margin: 1em auto;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 50%;
}

.profile-btn {
    background-color: var(--nav-bar-color);
    color: var(--text-bright);
    font-size: 125%;
    width: 40%;
    min-width: max-content;
    padding: 0.4em 1em;
    text-decoration: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.profile-btn:hover,
nav a:hover,
#submit-btn:hover {
    text-decoration: underline;
}

/* styling for translated history list */

#title-translate-history{
  font-size: 2em;
  color: var(--title-color);
}
#history-list{
  line-height: 3em;
}

#profile-history {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 110%;
}


/* styling for footer */
footer {
  display: flex;
  background-color: var(--footer-background);
  text-align: left;
  justify-content: space-evenly;
  width:100%;
  box-sizing: border-box;
  max-height: 22em;
  height:100%;
}
footer h3 {
  font-size: 1.5em;
  margin-bottom: 0.4em;
}
.contact img {
  padding: 0.5em;
  width: 1.5em;
}
.social-icons img {
  width:2em;
  margin: 1em;
}
.contact {
  line-height: 2em;
  width:auto;
}
.about-us{
  width: auto;
  max-height: 12em;
  line-height: 2.4em;
}
.social-icons {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.icons {
  margin: 1em 1em;
}
.icons:hover {
  width: 2.2em;
  transform: scale(1.5);
  filter: brightness(120%);
  filter: contrast(120%);
  filter: drop-shadow(6px 6px 6px grey);
  justify-content: space-between;
}
.email , .phone , .location {
  display:flex;
  align-items: center;
  line-height: 3.2em;
}
.contact, .about-us, .social-icons {
  margin:1em 1em;
}

#text-about-us{
  display: -webkit-box;
  max-width: 30em;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 2em;
}


@media only screen and (max-width: 480px) {
  footer {
    display:flex;
    flex-direction: column;
    justify-content:center;
    height:auto;
  }
}
