@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Kanit&display=swap');
* {
  font-family: 'Kanit', sans-serif;
}
html, body, header, footer {
  text-align: center;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1#title {
  font-family: 'Caveat', serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
}
input{
  padding: 1em;
  width: 70%;
  border: 2px solid grey;
  margin: 1em;
}
#btn{
  padding: 1em;
}
#btn:hover{
  animation: fade-color 0.5s;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@keyframes fade-color {
  0% {color: black}
  50% {color: red}
  100% {color: pink }
}